@model APP.UI.Controllers.Empleado


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <nav class="navbar fixed-top">
        <div class="row w-100">
            <div class="col-md-2 align-self-center">
                <li>
                    <a href="@Url.Action("Index")"><i class="fa fa-arrow-alt-circle-left"></i> Volver</a>
                </li>
            </div>
            <div class="col-md-8">
                <h4 class="text-center text-white p-0 m-0">Editar Empleados</h4>
            </div>
        </div>
    </nav>


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdEmpleado)

        <div class="row justify-content-center mt-3 pt-3">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-left">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control", @required = "required"  } })
                                @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-left mt-3">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form_top mt-5 pt-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h5 class="text-center">Seleccione:</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-left">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.IdJefe, "IdJefe", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("IdJefe", new SelectList(ViewBag.jefeList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdJefe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.IdArea, "IdArea", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("IdArea", new SelectList(ViewBag.areaList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group mt-5">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('body').toggleClass('main');
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
